.br-container1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 150px 80px 120px;
    background-color: #d8d8d8;
    border-radius: 15px;
    padding: 50px;
    flex-wrap: wrap;
    overflow: hidden;
    flex-wrap: wrap;
}
.br-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 60%;
    
}
.br-title{
    font-size: 32px;
    font-weight: 400;
    
}
.br-texte{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
}
.br-steps{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px 0;
}
.br-step{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px 0;

}

.br-s-t{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 20px;
}
.br-s-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;   
}
.br-s-desc{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;

}

.br-btn{
    background-color: #21C964;
    padding: 15px;
    border-radius: 30px;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
}
.br-cards{
    position: relative;
  
}
.br1,.br2,.br3{
    margin: 10px 0;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding-top: 10px;
    position: absolute;
}
.br1{
    background-color: white;
    top: -100px;
    left: 200px;
}
.br2{
    background-color: #21C964;
}
.br3{
    background-color: #F55F31;
    left: 200px;
    top: 200px;
}
.img-br{
    width: 180px;
    height: 180px;
    padding: 0 5px;
    border-radius: 10px;
}
.br-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.br-card-title{
    margin: 10px 15px 0px;
}
.br-card-description{
    margin: 5px 15px;
}
.br-card-category{
    margin: 5px 15px;
    font-size: 10px;
    border: 1px solid black;
    padding: 2px 10px;
    border-radius: 5px;
}