.sp-barmenu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%-160px;
    margin: 22px 80px;
    height: 44px;

}

.sp-menu-options{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sp-menu-item{
    padding: 10px 20px;
}

.sp-icons{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.sp-lg,.sp-sign{
    padding: 0 10px;
}